<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts :: header"></head>
	<nav th:replace="layouts :: navBar"></nav>
	<body>
		<form action="/employees/save" th:object="${emp}" method="POST">
			<input type="text" placeholder="Employee First Name" th:field="${emp.firstName}">
			<input type="text" placeholder="Employee Last Name" th:field="${emp.lastName}">
			<input type="text" placeholder="Employee Email Id" th:field="${emp.email}">
			
			<button class="btn btn-info col-2" type="submit">Create Employee</button>
		</form>	
</body>

</html>